
<div class="form-group">
    <label class="control-label">{{field.field_title}}
        <span ng-show="field.field_required && !field.field_value" class="label label-danger" style="font-size:10px;">* 必填</span>
    </label>
    <div class="clearfix">
    	<div class="col-sm-8">
    		<select ng-model="field.field_value" ng-required="field.field_required" ng-disabled="field.field_disabled" class="form-control">
    		    <option ng-repeat="option in field.field_options" ng-selected="option.option_value == field.field_value" value="{{option.option_id}}">
    		        {{option.option_title}}
    		    </option>
    		</select>
    	</div>
    </div>
</div>
