<div class="list-group shadow">
    <a href="#" class="list-group-item list-group-title list-group-link">
        <div class="clearfix">
            <h4 class="list-group-item-heading pull-left">最新审核完</h4>
        </div>
    </a>
    <li href="#" class="list-group-item" ng-repeat="answer in answers" ng-if="answer.checked > 0">
        <div class="clearfix">
            <div class="list-group-item-checked checked pull-left"></div>
            <div class="list-group-item-text pull-right">
                <p class="list-group-item-time">{{answer.meta.updateAt | date: 'yyyy.MM.dd HH.mm'}}</p>
                <p>
                    你刚刚审批通过计软院<span>{{answer.answerUserId.name}}</span>的报表《{{answer.formId.form_name}}》
                </p>
            </div>
        </div>
    </li>
    <li href="#" class="list-group-item" ng-repeat="answer in answers" ng-if="answer.checked < 0">
        <div class="clearfix">
            <div class="list-group-item-checked unchecked pull-left"></div>
            <div class="list-group-item-text pull-right">
                <p class="list-group-item-time">{{answer.meta.updateAt | date: 'yyyy.MM.dd HH.mm'}}</p>
                <p>
                    你刚刚退回了<span>{{answer.answerUserId.name}}</span>报表《{{answer.formId.form_name}}》
                </p>
            </div>
        </div>
    </li>
</div>