<style>
    .title{
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
    }
</style>
<div class="list-group shadow">
    <li class="list-group-item list-group-title list-group-link">
        <div class="clearfix">
            <h4 class="list-group-item-heading pull-left">最新报表提醒</h4>
            <div class="list-group-item-icon pull-right"><i class="fa fa-cog"></i></div>
        </div>
    </li>
    <li class="list-group-item list-group-link">
        <div class="clearfix">
            <h4 class="list-group-item-title pull-left">报表名</h4>
            <p class="list-group-item-right pull-right title">{{form.name}}</p>
        </div>
    </li>
    <li class="list-group-item list-group-link">
        <div class="clearfix">
            <h4 class="list-group-item-title pull-left">发布人</h4>
            <p class="list-group-item-right pull-right">{{form.creater}}</p>
        </div>
    </li>
    <li class="list-group-item list-group-link">
        <div class="clearfix">
            <h4 class="list-group-item-title pull-left">最近更新</h4>
            <p class="list-group-item-right pull-right">{{form.time | date: 'yyyy.MM.dd'}}</p>
        </div>
    </li>
</div>